@import "normalize";
@import "variables";
@import "small";

@media only screen and (min-width: 500px) {
    @import "medium";
} // end of query

@media only screen and (min-width: 1000px) {
    @import "large";
} // end of query